<template name="newPerson">
		<section data-new-person>

		    <h2 class="ui header">
		      <i class="settings icon"></i>
		      <div class="content">
		        YOU
		        <div class="sub header">Tell us your story</div>
		      </div>
		    </h2>

		  {{#autoForm collection="People" type="insert" id="newPersonForm" }}

		    {{> afQuickField name="picture" label="Upload your photo" label-class="ui pointing below label" }}

		    {{> afQuickField rows=6 cols=60 name="story_a" label-class="ui pointing below label"  label="¿A qué te dedicas y en qué te gusta ocupar tu tiempo?" }}
		    {{> afQuickField rows=6 cols=60 name="story_b" label-class="ui pointing below label"  label="¿Qué es lo más sorprendente que te ha pasado?" }}
		    {{> afQuickField rows=6 cols=60 name="story_c" label-class="ui pointing below label"  label="Descríbenos a detalle cómo fue tu día ayer." }}
		    {{> afQuickField rows=6 cols=60 name="story_d" label-class="ui pointing below label"  label="¿Por qué a veces te consideras mala persona?" }}
		    {{> afQuickField rows=6 cols=60 name="story_e" label-class="ui pointing below label"  label="¿Por qué a veces te consideras buena persona?" }}
		    {{> afQuickField rows=6 cols=60 name="story_f" label-class="ui pointing below label"  label="Cuéntanos sobre el lugar donde vives." }}


		    <button type="submit" class="ui button primary">Save</button>

		  {{/autoForm}}

		</section>
</template>