<template name="newPerson">
		<section data-new-person>

		    <h2 class="ui header">
		      <i class="settings icon"></i>
		      <div class="content">
		        YOU
		        <div class="sub header">Smile :) and take a photo of yourself, then tell us your story. <em>Thank you for being part of this social experiment!</em></div>
		      </div>
		    </h2>

		  {{#autoForm collection="People" type="insert" id="newPersonForm" }}

		    {{> afQuickField name="picture" label="Upload your photo" label-class="ui pointing below label" }}

		    {{> afQuickField rows=6 cols=60 name="story_a" label-class="ui pointing below label"  label="What's your profession and which are your hobbies?" }}

		    {{> afQuickField rows=6 cols=60 name="story_b" label-class="ui pointing below label"  label="What is the most amazing thing that has ever happened to you?" }}

		    {{> afQuickField rows=6 cols=60 name="story_c" label-class="ui pointing below label"  label="What did you do yesterday?" }}

		    {{> afQuickField rows=6 cols=60 name="story_d" label-class="ui pointing below label"  label="Why do you consider yourself sometimes a bad person?" }}

		    {{> afQuickField rows=6 cols=60 name="story_e" label-class="ui pointing below label"  label="Why do you consider yourself sometimes a good person?" }}

		    {{> afQuickField rows=6 cols=60 name="story_f" label-class="ui pointing below label"  label="Tell us about the place you live in." }}
			<br>

		    <button type="submit" class="ui button primary">Save</button>

		  {{/autoForm}}

		</section>
</template>