<template name="showPerson">
  {{#with person}} 
    DA {{story_a}} {{../meetingPerson}}
    {{#if ../meetingPerson}}
      {{> meetPerson}}
    {{else}}
      {{> reviewPerson}} 
    {{/if}}
  {{/with}}
</template>

<template name="meetPerson">
  <div data-show-person>
    <img src="{{image_url}}" width="30" height="30" />

    Meet this person life story:

    <p>{{story_a}}</p>
    <p>{{story_b}}</p>
    <p>{{story_c}}</p>
  </div>
</template>

<template name="reviewPerson">
  <div data-review-person>
   <img src="{{image_url}}" width="30" height="30" />

   <label>How do you percieve this person?</label>
   {{> perceptionsTags}}
   {{> perceptionsInput}}

   <button>Done</button>
 </div>
</template>


<template name="perceptionsTags">
  <div>
   {{#each ../reviewPerceptions}}
      <div class="ui label">
        {{this}}
        <i class="delete icon" data-label="{{this}}"></i>
      </div> 
   {{/each}}
  </div>
</template>


<template name="perceptionsInput">
  <div class="ui right labeled left icon input">
    <i class="tags icon"></i>
    <input data-perceptions type="text" placeholder="Enter some tags">
    <div class="ui tag label">
      Tags
    </div>
  </div>
</template>