<template name="showPerson">
  {{#with person}} 
    <div data-show-person="{{reviewsCount}}">
      {{#if ../meetingPerson}}
        {{> meetPerson}}
      {{else}}
        {{> reviewPerson}} 
      {{/if}}
    </div>
  {{/with}}
</template>

<template name="meetPerson">
  <div data-meet-person>
    <img src="{{image_url}}"/>

    Meet this person life story:

    <p>{{story_a}}</p>
    <p>{{story_b}}</p>
    <p>{{story_c}}</p>
    <p>{{story_d}}</p>
    <p>{{story_e}}</p>
    <p>{{story_f}}</p>

    <label>Now that you know this person, which tags would you use?</label>

   {{> perceptionsTags}}
   {{> perceptionsInput}}

   <button data-show-other class='ui button primary'>Done</button>
  </div>
</template>

<template name="reviewPerson">
  <div data-review-person>

   <div>
     <h4>How do you percieve this person?</h4>
     {{> perceptionsInput}}
     <button data-done-review class="ui button primary">Done</button>
   </div>

   <p>{{> perceptionsTags}}</p>
   <img src="{{image_url}}"/>

 </div>
</template>


<template name="perceptionsTags">
  <div data-perceptions-tags>
   {{#each ../reviewPerceptions}}
      <div class="ui label">
        <i class="tags icon"></i>
        {{this}}
        <i class="delete icon" data-label="{{this}}"></i>
      </div> 
   {{/each}}
  </div>
</template>


<template name="perceptionsInput">
  <div data-perceptions-input class="ui right labeled left icon input">
    <i class="tags icon"></i>
    <input data-perceptions type="text" placeholder="Enter some tags">
    <div class="ui tag label">
      Tags
    </div>
  </div>
</template>