<template name="showPerson">
  {{#with person}} 
    <div data-show-person="{{reviewsCount}}">
      {{#if ../meetingPerson}}
        {{> meetPerson}}
      {{else}}
        {{> reviewPerson}} 
      {{/if}}
    </div>
  {{/with}}
</template>

<template name="meetPerson">
  <div data-meet-person>
    <h4>Meet this person's life story</h4>

    <p>
      <img src="{{image_url}}"/>
    </p>

    <div class='ui piled segment'>
      <p>{{story_a}}</p>
      <p>{{story_b}}</p>
      <p>{{story_c}}</p>
      <p>{{story_d}}</p>
      <p>{{story_e}}</p>
      <p>{{story_f}}</p>
    </div>

   <div>
     <h4>Now that you know this person, which tags would you use?</h4>
     {{> perceptionsInput}}
     <button data-show-other class="ui button primary">DONE</button>
     <p>
       {{> perceptionsTags}}
     </p> 
   </div>

  </div>
</template>

<template name="reviewPerson">
  <div data-review-person>

   <div>
   <h4>
      <em>ATTENTION: this section will be fully operating tomorrow, showing the entries collected today.</em>
    </h4>
     <h4>How do you perceive this person? 
        <em>Please, enter words separated by comma or space.</em>
      </h4>
     {{> perceptionsInput}}
     <button data-done-review class="ui button primary">DONE</button>
   </div>

   <p>{{> perceptionsTags}}</p>
   <img src="{{image_url}}"/>

 </div>
</template>


<template name="perceptionsTags">
  <div data-perceptions-tags>
   {{#each ../reviewPerceptions}}
      <div class="ui label">
        <i class="tags icon"></i>
        {{this}}
        <i class="delete icon" data-label="{{this}}"></i>
      </div> 
   {{/each}}
  </div>
</template>


<template name="perceptionsInput">
  <div data-perceptions-input class="ui right labeled left icon input">
    <i class="tags icon"></i>
    <input data-perceptions type="text" placeholder="Enter some tags">
    <div class="ui tag label">
      Tags
    </div>
  </div>
</template>