<head>
  <script type="text/javascript" src="/js/p5.min.js"></script>
  <script type="text/javascript" src="/js/p5.dom.js"></script>

</head>


<template name="layout">

 {{> header}}
 
 {{> navbar}}

 <div class='main container'>
   {{> yield }}
 </div>

 {{> footer}}

</template>

<template name="header">
  <header>
    <h6>Percieve.me</h6>
  </header>
</template>

<template name="navbar">
  <nav>
    <ul>
      <li>
        <a href="{{ pathFor 'home' }}">Home</a> 
        <a href="{{ pathFor 'showPerson' }}">Review Someone</a> 
        <a href="{{ pathFor 'newPerson' }}">Register yourself</a> 
      </li>
    </ul>
  </nav>
</template>

<template name="footer">
  <footer>
     <small>
       <a href="http://github.com/victorborja/percieve-me">SourceCode</a>
     </small>
  </footer>
</template>
