<head>
  <script type="text/javascript" src="/js/p5.min.js"></script>
  <script type="text/javascript" src="/js/p5.dom.js"></script>
  <script type="text/javascript" src="/js/home-polygon.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Economica:400,700,400italic,700italic|Oswald:400,700' rel='stylesheet' type='text/css'>
</head>


<template name="layout">
 
 {{> navbar}}

 <div class='ui page grid'>
   <div class='column'>
     {{> yield }}
   </div>
 </div>

 {{> footer}}

</template>

<template name="header">
  <header>
    <h6>Percieve.me</h6>
  </header>
</template>

<template name="navbar">
  <div class="ui inverted menu">
    <a class="item" href="{{ pathFor 'home' }}">
    HOME
    </a>
    <a class="item" href="{{ pathFor 'showPerson' }}">
    THEY
    </a>
    <a class="item" href="{{ pathFor 'newPerson' }}">
    YOU
    </a>
  </div>
</template>

<template name="footer">
  <footer>
     <small>
       <a class="source" href="http://github.com/victorborja/perceive-me">READ SOURCE CODE</a>
     </small>
  </footer>
</template>
